<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PANGEA.IMPORTSUITE.DataModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="IMPORTSUITEConnectionString" connectionString="Data Source=AX-DEV-SQL-01;Initial Catalog=MPA_ImportSuite;User ID=sa;password=P@ssword1" providerName="System.Data.SqlClient" />    
    <add name="IMPORTSUITEConnectionString_T" connectionString="Data Source=ERP-TEST-SQL;Initial Catalog=MPA_ImportSuite;User ID=sa;password=P@ssword2022" providerName="System.Data.SqlClient" />
    <add name="IMPORTSUITEConnectionString_P" connectionString="Data Source=AX-prod-SQL-01;Initial Catalog=MPA_ImportSuite;User ID=sa;password=P@ssword1" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <applicationSettings>
    <PANGEA.IMPORTSUITE.DataModel.Properties.Settings>
      <setting name="PANGEA_IMPORTSUITE_DataModel_MPA_RECONCILE_WS_wsAdminFiles" serializeAs="String">
        <value>http://localhost:11530/wsAdminFiles.asmx</value> 
        <!--<value>http://ax-prod-web-03:9090/wsAdminFiles.asmx</value>-->
      </setting>
    </PANGEA.IMPORTSUITE.DataModel.Properties.Settings>
  </applicationSettings>

  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="USE365" value="F" />
      <add key="NOLOGIN" value="F" />
    <add key="ENVMSG" value="AMBIENTE DE PRUEBAS" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="102400" maxUrlLength="10999" maxQueryStringLength="2097151" />
    <httpModules>
    </httpModules>
        <identity impersonate="false" password="N3wPangea2" userName="MPA-DOM\pangea12" />
  
  <!--
   <sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" 
                  sqlConnectionString="Data Source=(local)\SQL2014;Trusted_Connection=Yes" 
                  cookieless="false" timeout="100"/>  -->

   
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" maxAllowedContentLength="4294967295" />
        <!--<requestLimits maxAllowedContentLength="4294967295" />-->
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_PANGEA_MPA_SERVICE" closeTimeout="20:35:00" openTimeout="20:35:00" receiveTimeout="20:35:00" sendTimeout="20:35:00" />
        <binding name="NetTcpBinding_MPAPortalSuite" closeTimeout="20:35:00" openTimeout="20:35:00" receiveTimeout="20:35:00" sendTimeout="20:35:00" />
      </netTcpBinding>
    </bindings>
    <client>
      

      <endpoint address="net.tcp://ax-dev-aos-01.mpa-dom.local:8201/DynamicsAx/Services/MPAPortalSuiteGroup" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MPAPortalSuite" contract="MPA_SERVICE.MPAPortalSuite" name="NetTcpBinding_MPAPortalSuite">
        <identity>
          <userPrincipalName value="AosServiceUser@MPA-DOM.local" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://ax-dev-aos-01:8201/DynamicsAx/Services/MPACreditCardConciliation" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PANGEA_MPA_SERVICE" contract="MPA_RECON_DEPOSIT.CreditCardReconciliation" name="NetTcpBinding_CreditCardReconciliation">
        <identity>
          <userPrincipalName value="AosServiceUser@MPA-DOM.local" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>
  -->


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_PANGEA_MPA_SERVICE" closeTimeout="20:35:00" openTimeout="20:35:00" receiveTimeout="20:35:00" sendTimeout="20:35:00" />
        <binding name="NetTcpBinding_MPAPortalSuite" closeTimeout="20:35:00" openTimeout="20:35:00" receiveTimeout="20:35:00" sendTimeout="20:35:00" />
        <binding name="NetTcpBinding_MPABankReconciliation" closeTimeout="20:35:00" openTimeout="20:35:00" receiveTimeout="20:35:00" sendTimeout="20:35:00" />
      </netTcpBinding>
    </bindings>
    <client>



      <endpoint address="net.tcp://ax-dev-aos-01.mpa-dom.local:8201/DynamicsAx/Services/MPAPortalSuiteGroup" binding="netTcpBinding"
		bindingConfiguration="NetTcpBinding_MPAPortalSuite" contract="MPA_SERVICE.MPAPortalSuite" name="NetTcpBinding_MPAPortalSuite">
        <identity>
          <userPrincipalName value="AosServiceUser@MPA-DOM.local" />
        </identity>
      </endpoint>
        <!--address="net.tcp://ax-dev-aos-01:8201/DynamicsAx/Services/MPABankReconciliationGroup"-->
      <endpoint
        address="net.tcp://ax-prod-aos-01:8201/DynamicsAx/Services/MPABankReconciliationGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MPABankReconciliation"
        contract="MPA_RECON_DEPOSIT.MPABankReconciliation" name="NetTcpBinding_MPABankReconciliation">
        <identity>
          <userPrincipalName value="AosServiceUser@MPA-DOM.local" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>

  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>