<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
     <add name="IMPORTSUITEConnectionString" connectionString="Data Source=AX-TEST-SQL-01\MSSQLSERVER_TEST;Initial Catalog=MPA_ImportSuite;User ID=sa;password=P@ssword1" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ImportSuiteData">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ImportSuiteService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ImportSuiteService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_PANGEA_IMPORT_SUITE" />
        <binding name="NetTcpBinding_PANGEA_PTI_SERVICE" />
        <binding name="NetTcpBinding_PANGEA_MPA_SERVICE" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://mpaos-1:8201/DynamicsAx/Services/PANGEA_IMPORT_SUITE_SVC"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PANGEA_IMPORT_SUITE"
        contract="AX_IMPORT.PANGEA_IMPORT_SUITE" name="NetTcpBinding_PANGEA_IMPORT_SUITE">
        <identity>
          <userPrincipalName value="DynamicsInstallUser@MPA.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://svraxlatamuat:8203/DynamicsAx/Services/PANGEA_PTI_SERGROUP"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PANGEA_PTI_SERVICE"
        contract="AX_DIRECT_IMPORT.PANGEA_PTI_SERVICE" name="NetTcpBinding_PANGEA_PTI_SERVICE">
        <identity>
          <userPrincipalName value="pangea@PTI.LOCAL" />
        </identity>
      </endpoint>
      <endpoint address="https://mtp-uat.sandbox.operations.dynamics.com/soap/services/pangeaservicegroup"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImportSuiteService"
        contract="UAT.ImportSuiteService" name="BasicHttpBinding_ImportSuiteService" />
      <endpoint address="https://mtpsites-devdevaos.sandbox.ax.dynamics.com/soap/services/PangeaGrpSvc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ImportSuiteData"
        contract="AX365_DIRECT_IMPORT.ImportSuiteData" name="BasicHttpBinding_ImportSuiteData" />
      <endpoint address="net.tcp://ax-test-aos-01:8201/DynamicsAx/Services/PANGEA_MPA_SERGROUP"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PANGEA_MPA_SERVICE"
        contract="MPA_DIRECT_IMPORT.PANGEA_MPA_SERVICE" name="NetTcpBinding_PANGEA_MPA_SERVICE">
        <identity>
          <userPrincipalName value="AosServiceUser@erp.azure" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>